In [1]:
import numpy as np 
import pandas as pd

In [2]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

In [3]:
df = pd.read_csv("C:\\Users\\saurabh\\Desktop\\pyth\\Social_Network_Ads.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
df = df.drop(columns = ['User ID' , 'Gender'])

In [5]:
x = df.drop(columns = ['Purchased'] , axis = 1)
y = df['Purchased']

In [7]:
x_train , x_test , y_train , y_test  = train_test_split(x,y,test_size = 0.2 , random_state = 42) 

pipe = Pipeline([
    ('scaler', StandardScaler()),
    ('pca', PCA(n_components=2)),
    ('classifier', RandomForestClassifier(n_estimators=100, random_state=42))
])

In [8]:
pipe

Pipeline(steps=[('scaler', StandardScaler()), ('pca', PCA(n_components=2)),
                ('classifier', RandomForestClassifier(random_state=42))])

In [9]:
pipe.fit(x_train , y_train)

Pipeline(steps=[('scaler', StandardScaler()), ('pca', PCA(n_components=2)),
                ('classifier', RandomForestClassifier(random_state=42))])

In [10]:
y_pred = pipe.predict(x_test)

In [11]:
acc = accuracy_score(y_test , y_pred) 
print(acc)

0.8875